<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JCNetwork Members | Home</title>

    <!-- Base Stylesheets -->
    <div th:replace="fragments/base :: stylesheets"></div>
</head>
<body class="hold-transition layout-navbar-fixed" th:classappend="${userSettings.darkMode} ? 'dark-mode'">

<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand" style="margin-left: 0;" th:classappend="${userSettings.darkMode} ? 'navbar-dark' : 'navbar-white navbar-light'">
        <!-- Left navbar links -->
        <ul class="navbar-nav" th:each="link : ${navbarLinks}">
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="${link.link}" th:text="${link.label}" class="nav-link"></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left: 0;">

        <!-- Main content -->
        <section class="content">
            <div layout:fragment="mainContent" class="container-fluid"></div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer" style="margin-left: 0;">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2021 <a href="https://www.jcnetwork.de/">JCNetwork e.V.</a>.</strong>
    </footer>
</div>
<!-- ./wrapper -->

<!-- Base Scripts -->
<div th:replace="fragments/base :: scripts"></div>
<!-- Page specific scripts -->
<th:block layout:fragment="script"></th:block>
<!-- Toast -->
<div th:replace="fragments/base :: toast"></div>
<!-- report button -->
<div th:replace="fragments/base :: reporter"></div>
</body>
</html>
