<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/loginAndRegister.html}">
<head>
    <title>Passwort vergessen | JCNetwork Members</title>
</head>
<body>
<div layout:fragment="form" class="card-body">
    <p class="login-box-msg">Du hast dein Passwort vergessen? Hier kannst du es zurücksetzen.</p>
    <form th:action="@{/passwordForgotten}" th:object="${passwordReset}" method="post">
        <div class="input-group mb-3">
            <input type="email" class="form-control" th:field="*{email}" placeholder="E-Mail">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-jcnetwork btn-block">Passwort zurücksetzen</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <p class="mt-3 mb-1">
        <a href="login.html">Zum Login</a>
    </p>
</div>
</body>
</html>