.header-logo {
    width: 100%;
}

.card-header-logo {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0px;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.registration-page {
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh !important;
    -ms-flex-pack: center;
    justify-content: center;
}

.registration-box {
    width: 720px;
}

.btn-jcnetwork {
    color: #fff;
    background-color: rgb(51, 102, 153);
    border-color: rgb(51, 102, 153);
    box-shadow: none;
}

.icheck-jcnetwork > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-jcnetwork > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: rgb(51, 102, 153);
}

.icheck-jcnetwork > input:first-child:not(:checked):not(:disabled):focus + label::before,
.icheck-jcnetwork > input:first-child:not(:checked):not(:disabled):focus + input[type="hidden"] + label::before {
    border-color: rgb(51, 102, 153);
}

.icheck-jcnetwork > input:first-child:checked + label::before,
.icheck-jcnetwork > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: rgb(51, 102, 153);
    border-color: rgb(51, 102, 153);
}

.profile-picture-crop-container {
    width: 300px;
    height: 300px;
    margin: 40px auto 0 auto;
    display: none;
}

.ready {
    display: block;
}

.messagebox-table {
    width: 100%;
    table-layout: fixed;
}

.messagebox-small-element {
    width: 64px;
}

.messagebox-sender {
    width: 50px;
    text-align: center;
    background-color: lightgray;
    border-radius: 50%;
    height: 50px;
    display: block;
    line-height: 50px;
    margin-top: 8px;
    padding: 0px !important;
}

.messagebox-subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 60px !important;
    line-height: 42px;
}

.mailbox-date {
    width: 120px;
}

.mailbox-profile-picture {
    width: 50px;
    vertical-align: top !important;
}

#messages_table tr:hover td {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.mailbox-no-messages {
    width: 100%;
    text-align: center;
    line-height: 42px;
}

.message-read img {
    opacity: 0.5;
}

.message-read td {
    color: gray;
}

#chart-container {
    text-align: center;
    height: calc(100vh - 270px);
    transition: margin-right 0.5s;
}

#btn-edit-chart {
    position: absolute;
    top: 73px;
    right: 20px;
    z-index: 4;
    transition: right 0.5s;
}

#chart-edit {
    position: fixed;
    top: 186px;
    right: 23px;
    background: rgba(0,0,0,0.1);
    height: calc(100vh - 270px);
    transition: width 0.5s;
    overflow-x: hidden;
    width: 0;
    white-space: nowrap;
}

.table-icon {
    text-align: center;
}

.duallistbox-select {
    border: 0;
    height: 24px !important;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #212529;
    line-height: 1.5;
    box-shadow: inherit;
}

.picture-edit-btn {
    position: relative;
    left: -26px;
    top: 33px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    font-size: 0.82rem;
}