<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mailbox">

    <head>
        <!-- summernote -->
        <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
        <!-- Select2 -->
        <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    </head>

    <div class="row">
        <div class="col-md-3">
            <button id="btn-new-message" class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#modal-new-message" th:attr="style=${primaryColor != null} ? 'background-color:' + ${primaryColor}+ '; border-color:' + ${primaryColor}">
                Neue Nachricht
            </button>

            <div class="modal fade" id="modal-new-message">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Neue Nachricht Verfassen</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" th:action="@{sendMessage}" th:object="${newMessage}">
                            <div class="modal-body">
                                <div class="form-group">
                                    <select id="recipients" class="form-control select2 select2-primary" data-dropdown-css-class="select2-primary" multiple="multiple" data-placeholder="An:" style="width: 100%;" th:field="*{recipientIds}"></select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Betreff:" th:field="*{subject}">
                                </div>
                                <div class="form-group">
                                    <textarea id="compose-textarea" class="form-control" style="height: 300px" th:field="*{body}"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="btn btn-default btn-file">
                                        <i class="fas fa-paperclip"></i> Attachment
                                        <input type="file" name="attachment">
                                    </div>
                                    <p class="help-block">Max. 32MB</p>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <div class="float-right">
                                    <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Entwurf</button>
                                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Senden</button>
                                </div>
                                <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Verwerfen</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ordner</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="Inbox" name="folderLink" class="nav-link" onclick="changeFolder('Inbox')" style="cursor: pointer">
                                <i class="fas fa-inbox"></i> Inbox
                                <span id="Inbox-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Gesendet" name="folderLink" class="nav-link" onclick="changeFolder('Gesendet')" style="cursor: pointer">
                                <i class="far fa-envelope"></i> Gesendet
                                <span id="Gesendet-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Entwürfe" name="folderLink" class="nav-link" onclick="changeFolder('Entwürfe')" style="cursor: pointer">
                                <i class="far fa-file-alt"></i> Entwürfe
                                <span id="Entwürfe-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Papierkorb" name="folderLink" class="nav-link" onclick="changeFolder('Papierkorb')" style="cursor: pointer">
                                <i class="far fa-trash-alt"></i> Papierkorb
                                <span id="Papierkorb-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <!-- messages list card -->
            <div class="card card-primary card-outline" th:attr="style=${primaryColor != null} ? 'border-color:' + ${primaryColor}">
                <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Suche">
                            <div class="input-group-append">
                                <div class="btn btn-primary" th:attr="style=${primaryColor != null} ? 'background-color:' + ${primaryColor}+ '; border-color:' + ${primaryColor}">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                    <div th:replace="fragments/mailbox :: mailbox-controls"></div>

                    <div class="table-responsive mailbox-messages">
                        <table id="messages_table" class="table table-striped messagebox-table">
                            <tbody>
                            <!-- Table automatically generated -->
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">

                    <div th:replace="fragments/mailbox :: mailbox-controls"></div>

                </div>
            </div>
            <!-- /.messages list card -->
        </div>
        <!-- /.col -->
    </div>

    <div class="modal fade" id="modal-read-message">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nachricht Lesen</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="mailbox-read-info">
                    <h5 id="read-message-subject"></h5>
                    <div>
                        <h6 class="float-left" id="read-message-sender"></h6>
                        <span id="read-message-timespanSinceSent" class="mailbox-read-time float-right"></span>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="read-message-body"></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<div th:fragment="mailbox-controls" class="mailbox-controls">
    <!-- Check all button -->
    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" onclick="moveSelectedToFolder('Papierkorb')">
            <i class="fas fa-trash"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" onclick="markSelectedAsRead()">
            <i class="fas fa-envelope-open-text"></i>
        </button>
    </div>
    <!-- /.btn-group -->
    <button type="button" class="btn btn-default btn-sm" onclick="getMessages()">
        <i class="fas fa-sync-alt"></i>
    </button>
    <div class="float-right">
        <span class="message-entries-count"></span>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" onclick="previousPage()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" onclick="nextPage()">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <!-- /.btn-group -->
    </div>
    <!-- /.float-right -->
</div>

<th:block th:fragment="mailbox-scripts">
    <!-- summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>

    <script th:inline="javascript">

        var primaryColor = [[${primaryColor}]];
        var currentPage = 0;
        var pageSize = 10;
        var totalPages;
        var folder = "Inbox";

        //Initialize Select2 Elements
        $('.select2').select2()

        // Load messages on first request
        $(document).ready(
            setFolderLinkActive("Inbox"),
            $('.card-title').text("Inbox"),
            getFoldersMessageCount(),
            getMessages(),
            // Text editor
            $(function () {
                $('#compose-textarea').summernote({
                    dialogsInBody: true
                })
            })
        );

        function changeFolder(newFolder) {
            if(newFolder !== folder) {
                folder = newFolder;
                setFolderLinkActive(newFolder);
                $('.card-title').text(newFolder);
                getMessages();
            }
        }

        function setFolderLinkActive(folderName) {
            $("a[name='folderLink']").each(function (){
                if($(this).attr("id") === folderName){
                    $(this).addClass("active");
                    if(primaryColor !== null) {
                        $(this).css("background-color", primaryColor);
                    }
                } else {
                    $(this).removeClass("active");
                    $(this).css("background-color", "");
                }
            });
        }

        function nextPage(){
            if(currentPage < (totalPages - 1)) {
                currentPage++;
                getMessages();
            }
        }

        function previousPage() {
            if(currentPage > 0) {
                currentPage--;
                getMessages();
            }
        }

        // Get all messages for the current page
        function getMessages() {
            // Remove existing entries from table
            $('#messages_table').empty();
            $.ajax({
                'url': "/api/messages/" + window.location.pathname.split('/')[1] + "/" + folder + "?page=" + currentPage + "&size=" + pageSize + "&sort=creationDate,desc",
                'method': "GET",
                'contentType': 'application/json',
                'dataType': "json",
                'success': function (response){
                    // Create table row for each message item
                    if(Object.keys(response.content).length > 0) {
                        $.each(response.content, function (i, item){
                            // Create html for table row
                            var htmlRow =
                                `<td><a href="/" </td>
                                <td class="messagebox-small-element">
                                <div class="icheck-jcnetwork" style="padding-top: 5px;">
                                    <input name="messageSelect" type="checkbox" value="" id="` + item.id + `">
                                    <label for=` + item.id + `></label>
                                </div>
                            </td>
                            <td class="mailbox-name messagebox-sender">`
                            // Check if profile image exists
                            if (item.senderImage){
                                htmlRow += '<img src="' + item.senderImage + '" class="mailbox-profile-picture">'
                            } else {
                                htmlRow += '<b>' + item.senderShortName + '</b>'
                            }
                            htmlRow +=
                                `</td>
                            <td class="mailbox-subject messagebox-subject">
                                <b>` + item.subject + ` - </b><span>` + item.body.replace(/<\/?[^>]+(>|$)/g, "") + `</span>
                            </td>
                            <td class="mailbox-attachment messagebox-small-element"></td>
                            <td class="mailbox-date">` + item.timespanSinceSent + `</td>`
                            // Add row to table
                            if(item.read === true){
                                $('<tr>').addClass('message-read').append(htmlRow).appendTo('#messages_table');
                            } else {
                                $('<tr>').append(htmlRow).appendTo('#messages_table');
                            }
                        })
                    } else if(currentPage != 0){
                        previousPage();
                    } else {
                        var htmlRow = `<td class="mailbox-no-messages"><span>Du hast keine Nachrichten in diesem Ordner.</span></td>`
                        $('<tr>').append(htmlRow).appendTo('#messages_table');
                    }

                    totalPages = response.totalPages;

                    $('.message-entries-count').each(function(){
                        var firstMessagePos = (response.number * pageSize) + 1
                        var lastMessagePos = (firstMessagePos + pageSize - 1)
                        if (lastMessagePos > response.totalElements) { lastMessagePos = response.totalElements }
                        $(this).text(firstMessagePos + '-' + lastMessagePos + '/' + response.totalElements);
                    })
                }
            })
        }

        function moveSelectedToFolder(folderName){

            if(folder === "Papierkorb" && folderName === "Papierkorb"){
                deleteSelected();
            } else {
                $("input[name='messageSelect']:checked").each(function (){
                    var messageId = $(this).attr("id");
                    $.ajax({
                        'url': '/api/messages/move/' + messageId,
                        'async': false,
                        'method': 'PUT',
                        'contentType': 'application/json',
                        'dataType': 'json',
                        'data': folderName
                    });
                })
            }
            getMessages();
            getFoldersMessageCount();
        }

        function markSelectedAsRead() {
            $("input[name='messageSelect']:checked").each(function (){
                var messageId = $(this).attr("id");
                $.ajax({
                    'url': '/api/messages/mark-as-read/' + messageId,
                    'async': false,
                    'method': 'PUT',
                    'contentType': 'application/json',
                });
            })
            getMessages();
            getFoldersMessageCount();
        }

        function deleteSelected(){
            $("input[name='messageSelect']:checked").each(function (){
                var messageId = $(this).attr("id");
                $.ajax({
                    'url': '/api/messages/delete/' + messageId,
                    'async': false,
                    'method': 'DELETE',
                    'contentType': 'application/json',
                });
            })
        }

        function getFoldersMessageCount(){
            $.ajax({
                'url': '/api/messages/count/' + window.location.pathname.split('/')[1],
                'method': 'GET',
                'contentType': 'application/json',
                'dataType': "json",
                'success': function (response) {
                    $.each(response, function (i, item) {
                        $('#' + item.folderName + '-message-count').text(item.messagesCount)
                        if(item.unreadMessagesCount !== 0) {
                            $('#' + item.folderName + '-message-count').addClass('bg-warning');
                        } else {
                            $('#' + item.folderName + '-message-count').removeClass('bg-warning');
                        }
                    });
                },
            });
        }

        // Check all button
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })
        })

        // Get possible recipients for new Message
        $('#btn-new-message').one("click", function () {
            $.ajax({
                'url': '/api/entity/all',
                'method': 'GET',
                'contentType': 'application/json',
                'dataType': "json",
                'success': function (response) {
                    var options = "";
                    // Create select with all possible recipients
                    $.each(response, function (i, item) {
                        options += '<option value="' + item.id + '">' + item.name + '</option>';
                    })
                    $('#recipients').append(options);
                },
            });
        })

        // Make messages clickable to read content
        $('#messages_table').on('click', 'td:not(.messagebox-small-element)', function(){
            var id = $(this).closest('tr').children('td.messagebox-small-element').children('div.icheck-jcnetwork').children('input').attr('id');
            $.ajax({
                'url': "/api/messages/" + id,
                'method': "GET",
                'contentType': 'application/json',
                'dataType': "json",
                'success': function (response) {
                    $('#read-message-subject').text(response.subject);
                    $('#read-message-sender').text("Von: " + response.senderName);
                    $('#read-message-timespanSinceSent').text(response.timespanSinceSent);
                    $('#read-message-body').html(response.body);
                }
            });
            $('#modal-read-message').modal();
            $.ajax({
                'url': '/api/messages/mark-as-read/' + id,
                'async': false,
                'method': 'PUT',
                'contentType': 'application/json',
            });
            $(this).closest('tr').addClass("message-read");
        });
    </script>

</th:block>