<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mailbox">
    <div class="row">
        <div class="col-md-3">
            <a href="" class="btn btn-jcnetwork btn-block mb-3">Neue Nachricht</a>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ordner</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a id="Inbox" name="folderLink" class="nav-link" onclick="changeFolder('Inbox')" style="cursor: pointer">
                                <i class="fas fa-inbox"></i> Inbox
                                <span id="Inbox-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Gesendet" name="folderLink" class="nav-link" onclick="changeFolder('Gesendet')" style="cursor: pointer">
                                <i class="far fa-envelope"></i> Gesendet
                                <span id="Gesendet-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Entwürfe" name="folderLink" class="nav-link" onclick="changeFolder('Entwürfe')" style="cursor: pointer">
                                <i class="far fa-file-alt"></i> Entwürfe
                                <span id="Entwürfe-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="Papierkorb" name="folderLink" class="nav-link" onclick="changeFolder('Papierkorb')" style="cursor: pointer">
                                <i class="far fa-trash-alt"></i> Papierkorb
                                <span id="Papierkorb-message-count" class="badge float-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <!-- messages list card -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Suche">
                            <div class="input-group-append">
                                <div class="btn btn-jcnetwork">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                    <div th:replace="fragments/mailbox :: mailbox-controls"></div>

                    <div class="table-responsive mailbox-messages">
                        <table id="messages_table" class="table table-striped messagebox-table">
                            <tbody>
                            <!-- Table automatically generated -->
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">

                    <div th:replace="fragments/mailbox :: mailbox-controls"></div>

                </div>
            </div>
            <!-- /.messages list card -->
        </div>
        <!-- /.col -->
    </div>
</div>

<div th:fragment="mailbox-controls" class="mailbox-controls">
    <!-- Check all button -->
    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" onclick="moveSelectedToFolder('Papierkorb')">
            <i class="fas fa-trash"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" onclick="markSelectedAsRead()">
            <i class="fas fa-envelope-open-text"></i>
        </button>
    </div>
    <!-- /.btn-group -->
    <button type="button" class="btn btn-default btn-sm" onclick="getMessages()">
        <i class="fas fa-sync-alt"></i>
    </button>
    <div class="float-right">
        <span class="message-entries-count"></span>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" onclick="previousPage()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" onclick="nextPage()">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <!-- /.btn-group -->
    </div>
    <!-- /.float-right -->
</div>

<th:block th:fragment="mailbox-scripts">
    <script>

        var currentPage = 0;
        var pageSize = 10;
        var totalPages;
        var folder = "Inbox";

        // Load messages on first request
        $(document).ready(
            setFolderLinkActive("Inbox"),
            $('.card-title').text("Inbox"),
            getFoldersMessageCount(),
            getMessages()
        );

        function changeFolder(newFolder) {
            if(newFolder !== folder) {
                folder = newFolder;
                setFolderLinkActive(newFolder);
                $('.card-title').text(newFolder);
                getMessages();
            }
        }

        function setFolderLinkActive(folderName) {
            $("a[name='folderLink']").each(function (){
                if($(this).attr("id") === folderName){
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            });
        }

        function nextPage(){
            if(currentPage < (totalPages - 1)) {
                currentPage++;
                getMessages();
            }
        }

        function previousPage() {
            if(currentPage > 0) {
                currentPage--;
                getMessages();
            }
        }

        // Get all messages for the current page
        function getMessages() {
            // Remove existing entries from table
            $('#messages_table').empty();
            $.ajax({
                'url': "/api/messages/" + window.location.pathname.split('/')[1] + "/" + folder + "?page=" + currentPage + "&size=" + pageSize + "&sort=creationDate,desc",
                'method': "GET",
                'contentType': 'application/json',
                'dataType': "json",
                'success': function (response){
                    // Create table row for each message item
                    if(Object.keys(response.content).length > 0) {
                        $.each(response.content, function (i, item){
                            // Create html for table row
                            var htmlRow =
                                `<td><a href="/" </td>
                                <td class="messagebox-small-element">
                                <div class="icheck-jcnetwork" style="padding-top: 5px;">
                                    <input name="messageSelect" type="checkbox" value="" id="` + item.id + `">
                                    <label for=` + item.id + `></label>
                                </div>
                            </td>
                            <td class="mailbox-name messagebox-sender">`
                            // Check if profile image exists
                            if (item.senderImage){
                                htmlRow += '<img src="' + item.senderImage + '" class="mailbox-profile-picture">'
                            } else {
                                htmlRow += '<b>' + item.senderShortName + '</b>'
                            }
                            htmlRow +=
                                `</td>
                            <td class="mailbox-subject messagebox-subject">
                                <b>` + item.subject + ` - </b>
                                 <span>` + item.body + `</span>
                            </td>
                            <td class="mailbox-attachment messagebox-small-element"></td>
                            <td class="mailbox-date">` + item.timespanSinceSent + `</td>`
                            // Add row to table
                            if(item.read === true){
                                $('<tr>').addClass('message-read').append(htmlRow).appendTo('#messages_table');
                            } else {
                                $('<tr>').append(htmlRow).appendTo('#messages_table');
                            }
                        })
                    } else if(currentPage != 0){
                        previousPage();
                    } else {
                        var htmlRow = `<td class="mailbox-no-messages"><span>Du hast keine Nachrichten in diesem Ordner.</span></td>`
                        $('<tr>').append(htmlRow).appendTo('#messages_table');
                    }

                    totalPages = response.totalPages;

                    $('.message-entries-count').each(function(){
                        var firstMessagePos = (response.number * pageSize) + 1
                        var lastMessagePos = (firstMessagePos + pageSize - 1)
                        if (lastMessagePos > response.totalElements) { lastMessagePos = response.totalElements }
                        $(this).text(firstMessagePos + '-' + lastMessagePos + '/' + response.totalElements);
                    })
                }
            })
        }

        function moveSelectedToFolder(folderName){

            if(folder === "Papierkorb" && folderName === "Papierkorb"){
                deleteSelected();
            } else {
                $("input[name='messageSelect']:checked").each(function (){
                    var messageId = $(this).attr("id");
                    $.ajax({
                        'url': '/api/messages/move/' + messageId,
                        'async': false,
                        'method': 'PUT',
                        'contentType': 'application/json',
                        'dataType': 'json',
                        'data': folderName
                    });
                })
            }
            getMessages();
            getFoldersMessageCount();
        }

        function markSelectedAsRead() {
            $("input[name='messageSelect']:checked").each(function (){
                var messageId = $(this).attr("id");
                $.ajax({
                    'url': '/api/messages/mark-as-read/' + messageId,
                    'async': false,
                    'method': 'PUT',
                    'contentType': 'application/json',
                });
            })
            getMessages();
            getFoldersMessageCount();
        }

        function deleteSelected(){
            $("input[name='messageSelect']:checked").each(function (){
                var messageId = $(this).attr("id");
                $.ajax({
                    'url': '/api/messages/delete/' + messageId,
                    'async': false,
                    'method': 'DELETE',
                    'contentType': 'application/json',
                });
            })
        }

        function getFoldersMessageCount(){
            $.ajax({
                'url': '/api/messages/count/' + window.location.pathname.split('/')[1],
                'method': 'GET',
                'contentType': 'application/json',
                'dataType': "json",
                'success': function (response) {
                    $.each(response, function (i, item) {
                        $('#' + item.folderName + '-message-count').text(item.messagesCount)
                        if(item.unreadMessagesCount !== 0) {
                            $('#' + item.folderName + '-message-count').addClass('bg-warning');
                        } else {
                            $('#' + item.folderName + '-message-count').removeClass('bg-warning');
                        }
                    });
                },
            });
        }

        // Refresh mail count
        setInterval(function () {
            getFoldersMessageCount();
        }, 10000);

        // Check all button
        $(function () {
            //Enable check and uncheck all functionality
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })
        })
    </script>

</th:block>