<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="organizational-chart" class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <!-- main card -->
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Organigramm</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="btn-export-png">
                                    <i class="fas fa-file-image"></i>
                                </button>
                                <button type="button" class="btn btn-default" id="btn-export-pdf">
                                    <i class="fas fa-file-pdf"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <!-- organizational chart -->
                    <div id="chart-container">
                        <button id="btn-edit-chart" class="btn btn-primary">
                            <i class="fas fa-pen"></i>
                        </button>
                    </div>

                    <!-- edit options -->
                    <div id="chart-edit">
                        <div class="card-body">
                            <p>Gewähltes Element</p>
                            <div class="input-group mb-3">
                                <!-- /btn-group -->
                                <input type="text" id="selected-node" class="form-control" disabled style="background-color: white">
                                <div class="input-group-append">
                                    <button type="button" id="btn-delete-nodes" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /input-group -->

                            <p>Element hinzufügen</p>
                            <div class="input-group mb-3">
                                <!-- /btn-group -->
                                <input type="text" id="new-node" class="form-control">
                                <div class="input-group-append">
                                    <button type="button" id="btn-add-nodes" class="btn btn-primary">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /input-group -->

                            <div class="row">
                                <div class="col-8">
                                    <button class="btn btn-primary" id="btn-save" style="width: 100%">Speichern</button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary" id="btn-reset" style="width: 100%">
                                        <i class="fas fa-redo-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">

                </div>
            </div>
            <!-- /.chart card -->
        </div>
    </div>
</div>

<th:block th:fragment="organizational-chart-scripts">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
    <script type="text/javascript" src="/plugins/org-chart/js/jquery.orgchart.js"></script>
    <script type="text/javascript" src="/plugins/html2canvas/html2canvas.min.js"></script>
    <script type="text/javascript" src="/plugins/jsPDF/jspdf.umd.min.js"></script>
    <script>
        $(function() {

            var datasource = "";
            var oc;
            var editBoxExpanded = false;

            var getId = function() {
                return (new Date().getTime()) * 1000 + Math.floor(Math.random() * 1001);
            };

            var nodeTemplate = function(data) {
                return `

                <div id="${data.name}" class="card card-primary chart-node-elem" style="width: 220px">
                  <div class="card-header chart-node-elem" style="padding: 0.5rem 0">
                    <h3 class="card-title chart-node-elem" style="float: none">
                      ${data.name}
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="chart-node-elem">
                    <div class="user-panel mt-1 mb-1 d-flex chart-node-elem">
                        <div class="info chart-node-elem">
                            <a href="/CONSULTANCY/admin/member/${data.head.id}" class="d-block chart-node-elem">Leitung: ${data.head.name}</a>
                        </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              `;
            };

            getChart();

            // Get organizational chart
            function getChart() {
                var consultancyName = window.location.pathname.split('/')[1]
                $.ajax({
                    'url': "/api/organizationalStructure/" + consultancyName + "/allEntities",
                    'async': false,
                    'method': "GET",
                    'contentType': 'application/json',
                    'dataType': "json",
                    'success': function (response) {

                        oc = $('#chart-container').orgchart({
                            'data': response,
                            'nodeTemplate': nodeTemplate,
                            'nodeId': 'name',
                            'nodeContent': 'title',
                            'pan': true,
                            'zoom': true,
                        });

                        removeEmptyHeads();
                    }
                });
            }

            function removeEmptyHeads() {
                $('#chart-container a').each(function(index, value){
                    if($(this).text() === 'Leitung: null' || $(this).text() === 'Leitung: undefined'){
                        $(this).text('');
                    } else {
                        $(this).attr('href', $(this).attr('href').replace('CONSULTANCY', window.location.pathname.split('/')[1]));
                    }
                })
            }

            oc.$chartContainer.on('touchmove', function (event) {
                event.preventDefault();
            });


            oc.$chartContainer.on('click', '.node', function () {
                var $this = $(this);
                $('#selected-node').val($.trim($this.find('.card-title.chart-node-elem').text())).data('node', $this);
            });

            oc.$chartContainer.on('click', '.orgchart', function (event) {
                if (!$(event.target).closest('.node').length) {
                    $('#selected-node').val('');
                }
            });

            $('input[name="chart-state"]').on('click', function() {
                $('.orgchart').toggleClass('edit-state', this.value !== 'view');
                $('#edit-panel').toggleClass('edit-state', this.value === 'view');
                if ($(this).val() === 'edit') {
                    $('.orgchart').find('.hidden').removeClass('hidden')
                        .end().find('.hierarchy').removeClass('isCollapsedDescendant isChildrenCollapsed isSiblingsCollapsed isCollapsedSibling')
                        .find('.node').removeClass('slide-up slide-down slide-right slide-left');
                } else {
                    $('#btn-reset').trigger('click');
                }
            });

            $('#btn-add-nodes').on('click', function() {
                var $chartContainer = $('#chart-container');
                var newNodeInputField = $('#new-node');
                var nodeVals = [];
                var validVal = newNodeInputField.val().trim();
                if (validVal.length) {
                    nodeVals.push(validVal);
                }
                var $node = $('#selected-node').data('node');
                if (!nodeVals.length) {
                    alert('Bitte gib dem neuen Element einen Namen.');
                    return;
                }
                if (!$node) {
                    alert('Bitte wähle ein Element im Orgamigramm aus.');
                    return;
                }
                newNodeInputField.val('');
                if (!$node.siblings('.nodes').length) {
                    var rel = nodeVals.length > 1 ? '110' : '100';
                    oc.addChildren($node, nodeVals.map(function (item) {
                        return { 'name': item,
                                 'relationship': rel,
                                 'id': getId(),
                                 'head': {
                                    'id': null,
                                    'name': null
                                 }
                        };
                    }));
                } else {
                    oc.addSiblings($node.siblings('.nodes').find('.node:first'), nodeVals.map(function (item) {
                        return { 'name': item,
                                 'relationship': '110',
                                 'id': getId(),
                                 'head': {
                                    'id': null,
                                     'name': null
                                 }
                        };
                    }));
                }
                removeEmptyHeads();
            });

            $('#btn-delete-nodes').on('click', function() {
                var $node = $('#selected-node').data('node');
                if (!$node) {
                    alert('Please select one node in orgchart');
                    return;
                } else if ($node[0] === $('.orgchart').find('.node:first')[0]) {
                    alert('Der Vorstand kann nicht gelöscht werden.')
                    return;
                }
                oc.removeNodes($node);
                $('#selected-node').val('').data('node', null);
            });

            $('#chart-container').on('click', function(e) {
                if (!e.is('chart-node-elem') && e.target.id !== 'btn-edit-chart') {
                    $('.orgchart').find('.focused').removeClass('focused');
                    $('#selected-node').val('');
                    $('#new-nodelist').find('input:first').val('').parent().siblings().remove();
                    $('#node-type-panel').find('input').prop('checked', false);
                }
            });

            $('#btn-save').on('click', function() {
                if (!$('pre').length) {
                    var hierarchy = oc.getHierarchy(true);
                    $.ajax({
                        'url': "/api/organizationalStructure/" + window.location.pathname.split('/')[1] + "/update",
                        'method': "PUT",
                        'contentType': 'application/json',
                        'dataType': "json",
                        'data': JSON.stringify(hierarchy)
                    });
                }
            });

            $('#btn-reset').on('click', function() {
                $('#chart-container').empty();
                getChart();
            })

            $('#btn-export-png').on('click', function() {
                $('.orgchart').css('transform','');
                oc.export(window.location.pathname.split('/')[1] + '_organigramm', 'png');
            });

            $('#btn-export-pdf').on('click', function() {
                $('.orgchart').css('transform','');
                oc.export(window.location.pathname.split('/')[1] + '_organigramm', 'pdf');
            });

            $('#btn-edit-chart').on('click', function() {
                if(!editBoxExpanded){
                    $('#chart-container').css('margin-right', '300px');
                    $('#btn-edit-chart').css('right', '320px');
                    $('#chart-edit').css('width', '300px');
                    editBoxExpanded = true;
                } else {
                    $('#chart-container').css('margin-right', '0px');
                    $('#btn-edit-chart').css('right', '20px');
                    $('#chart-edit').css('width', '0px');
                    editBoxExpanded = false;
                }
            });

        });
    </script>
</th:block>