<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>

<!-- Profile Image -->
<div th:fragment="profile-card-main" class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img id="profile-picture"
                 class="profile-user-img img-fluid img-circle"
                 th:src="${userDetails.getProfilePictureBase64()}"
                 alt="User profile picture">
            <button id="btn-edit-profile-picture" class="btn btn-primary picture-edit-btn" data-toggle="modal" data-target="#modal-profile-picture">
                <i class="fas fa-pen"></i>
            </button>

            <div class="modal fade" id="modal-profile-picture">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Profilbild ändern</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" th:action="@{/user/updateProfilePicture}" th:object="${userDetails}">
                            <div class="modal-body">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input"  id="profilePictureFile" accept="image/*">
                                        <label class="custom-file-label" for="profilePictureFile" id="profilePictureLabel">Wähle Datei</label>
                                    </div>
                                </div>

                                <div class="profile-picture-crop-container" id="profilePictureCropContainer">
                                    <div id="uploadProfilePicture"></div>
                                    <input type="hidden" th:field="*{profilePictureBase64}" id="croppedProfilePictureField">
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button id="btn-submit-profile-picture" type="submit" class="btn btn-success">Profilbild speichern</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>

        <h3 class="profile-username text-center" th:text="${userDetails.firstName} + ' ' + ${userDetails.lastName}"></h3>

        <p class="text-muted text-center">Rolle</p>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<!-- About Me Box -->
<div th:fragment="profile-card-about" class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Über mich</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <strong><i class="fas fa-book mr-1"></i> Studiengang</strong>

        <p class="text-muted">
            Wirtschaftsinformatik
        </p>

        <hr>

        <strong><i class="fas fa-map-marker-alt mr-1"></i> Wohnort</strong>

        <p class="text-muted">Koblenz</p>

        <hr>

        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

        <p class="text-muted">
            <span class="tag tag-danger">Java,</span>
            <span class="tag tag-success">Spring Framework,</span>
            <span class="tag tag-info">Javascript,</span>
            <span class="tag tag-warning">CSS,</span>
            <span class="tag tag-primary">Webdesign</span>
        </p>

        <hr>

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

</html>