<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout.html}">
<head>
    <title>Vereinsliste | JCNetwork Members</title>

    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body>
<div layout:fragment="mainContent" class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Vereine, die JCNetwork Members nutzen</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="dataTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Stadt</th>
                            <th>Anzahl Mitglieder</th>
                            <th>Domain</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="consultancy : ${consultancies}">
                                <td th:text="${consultancy.name}"></td>
                                <td th:text="${consultancy.city}"></td>
                                <td th:text="${consultancy.numberOfMembers}"></td>
                                <td th:text="${consultancy.domain}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Stadt</th>
                            <th>Anzahl Mitglieder</th>
                            <th>Domain</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>


</div>

<!-- Page scripts -->
<th:block layout:fragment="script">
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#dataTable").DataTable({
                language: {
                    search: "Suche",
                    info: "Zeige Einträge _START_ bis _END_ aus _TOTAL_ Einträgen",
                    infoEmpty: "",
                    infoFiltered: "(Von _MAX_ Einträgen gesamt)",
                    infoPostFix: "",
                    zeroRecords: "Keine Einträge gefunden",
                    emptyTable: "Keine Einträge vorhanden",
                    paginate: {
                        first: "Erste Seite",
                        previous: "Vorherige Seite",
                        next: "Nächste Seite",
                        last: "Letzte Seite"
                    }
                },
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": [
                    {
                        extend: "copy",
                        text: "Kopieren"
                    },
                    {
                        extend: "csv",
                        text: "CSV"
                    },
                    {
                        extend: "excel",
                        text: "Excel"
                    },
                    {
                        extend: "pdf",
                        text: "PDF"
                    },
                    {
                        extend:  "print",
                        text: "Drucken"
                    },
                    {
                        extend: "colvis",
                        text: "Spalten filtern"
                    }
                ]
            }).buttons().container().appendTo('#dataTable_wrapper .col-md-6:eq(0)');
        });
    </script>
</th:block>

</body>
</html>